<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ForestIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ForestIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>FormalIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FormalIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>HarvestIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HarvestIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>MidnightIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MidnightIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>RoyalIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RoyalIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>REVENUE_CAT_API_KEY</key>
	<string>$(REVENUE_CAT_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
</dict>
</plist>
